user = {{ postfix_sql_user }}
password = {{ postfix_sql_password }}
hosts = {{ postfix_sql_server }}
dbname = {{ postfix_sql_database }}
query = SELECT domain FROM domains WHERE domain='%s' and backupmx = 1
