ssl = required
ssl_cert = </etc/letsencrypt/live/{{ ansible_fqdn }}/fullchain.pem
ssl_key = </etc/letsencrypt/live/{{ ansible_fqdn }}/privkey.pem
ssl_dh_parameters_length = 2048
ssl_protocols = {{ tls_versions }}
ssl_cipher_list = {{ tls_ciphers }};
ssl_prefer_server_ciphers = yes