sql_user: ''
sql_password: ''
sql_server: ''
sql_database: ''
postfix_mynetworks: ''
postfix_relay_domain: ''
postfix_relay_passwords_map: ''
all_tlsciphers: 'TLS13-CHACHA20-POLY1305-SHA256:TLS13-AES-256-GCM-SHA384:TLS13-AES-128-GCM-SHA256:EECDH+AESGCM:ECDHE-RSA-AES256-SHA384'
all_tlsversions: '!SSLv3,!TLSv1'