postfix_sql_user: ''
postfix_sql_password: ''
postfix_sql_server: ''
postfix_sql_database: ''
postfix_mynetworks: ''
postfix_tlsversions: '!SSLv2,!SSLv3,!TLSv1'
postfix_tlsciphers: 'TLS13-CHACHA20-POLY1305-SHA256:TLS13-AES-256-GCM-SHA384:TLS13-AES-128-GCM-SHA256:EECDH+AESGCM:ECDHE-RSA-AES256-SHA384'