# Starts factorio server
#
# Author: Chuck Findlay <chuck@findlayis.me>
# License: LGPL v3.0
[Unit]
Description=Server daemon for factorio
After=network.target

[Service]
Type=forking
User=factorio
KillMode=none
ExecStart=/usr/bin/screen -dmS factorio /bin/bash -c "/factorio/1.0.0/factorio/bin/x64/factorio --server-settings /factorio/server-settings.json --start-server /factorio/world.zip"
ExecStop=/usr/local/bin/factoriod.sh /quit

[Install]
WantedBy=multi-user.target